/* ---- Body Attributes ---- */

.sty-container { 
    position: relative;
    margin: auto; 
    width: 50%;
    padding: 10px;
}

/* ---- Body Titles Attributes ---- */

h1 { 
    position: relative;
    padding: 0;
    margin: 0;
    font-family: "Raleway", sans-serif;
    font-weight: 300;
    font-size: 40px;
    color: #006600;
}

.title h1 { 
    text-align: center;
    text-transform: uppercase;
    padding-bottom: 5px;
}

h1 span { 
    display: block;
    font-size: 1.0rem;
    line-height: 1.2;
}

.title h1:before {
    width: 60px;
    height: 5px;
    display: block;
    content: "";
    position: absolute;
    bottom: 3px;
    left: 50%;
    margin-left: -30px;
    background-color: #be163a;
  }
  .title h1:after {
    width: 240px;
    height: 1px;
    display: block;
    content: "";
    position: relative;
    margin-top: 10px;
    left: 50%;
    margin-left: -120px;
    background-color: #be163a;
  }

  .title h2 { 
    display: block;
    font-size: 2rem;
    line-height: 1.2;
    font-style: italic;
    font-weight: 600;
  }

  .title h3 { 
    display: block;
    font-family: 'Tangerine', serif;
    font-size: 3rem;
    line-height: 1.0;
    font-style: normal;
    font-weight: 400;
    margin: 5px;
  }

  .title h4 { 
    display: block; 
    font-family: 'Segoe UI', Tahoma, Verdana, sans-serif;
    font-size: 1rem;
    margin:0; 
    padding: 0;
  }

  /* ---- Menu Sytling Attributes ---*/

  .sty-menu {
    display: block;
    margin-bottom: 30px;

  }

  .sty-menu a { 
    font-family: 'Segoe UI', Tahoma, Verdana, sans-serif;
    font-size: 1rem;
    font-weight: 600;
    color: black;
    line-height: 1.0;
    text-decoration: none;
    margin: 10px;
    padding: 2px;
    text-align: center;

  }

  .sty-menu a:hover{
    font-size: 1.05rem;
    font-weight: 700;
    color: #006600;
  }

  /* ---- Index Page Styling Attributes ---- */

  .sty-home {
    display: inline-block; 
    width: 100%; 
    margin: 10px;
  }
  
  .sty-home img { 
    float: left;
    margin-right: 15px;
    vertical-align: top;
  }

  .sty-home p {
    font-family: 'Source Sans Pro' Verdana, Tahoma, sans-serif;
    font-size: 22px;
    font-weight: 300;
    font-style: italic;
    text-align: justify;
  }

  .sty-home .signature p { 
    font-family: 'Tangerine', serif;
    font-size: 2rem;
    font-weight: 400;
    font-style: italic;
    text-align: justify;
  }

  /* ---- Blog Page Styling Attributes ---- */
  .sty-bgspot {
    display: inline-block; 
    width: 100%; 
    margin: 10px;
  }
  
  .sty-bgspot img { 
    float: left;
    margin-top: 15px;
    margin-right: 20px;
    padding: 0;
    vertical-align: top;
  }

  .sty-bgspot .right img { 
    float: right;
    position: relative;
    margin-top: 15px;
    height: 600px;
    width: 235px;
    left: -13%;
    padding: 0;
    vertical-align: bottom;
  }

  .sty-bgspot .small-text a { 
    font-family: 'Segoe UI', Tahoma, Verdana, sans-serif;
    font-size: 16px;
    font-weight: 300;
    font-style: italic;
    text-align: justify;
    text-decoration: none;
    margin-bottom: 0;
  }

  .sty-bgspot .large-text a { 
    font-family: 'Segoe UI', Tahoma, Verdana, sans-serif;
    font-size: 22px;
    font-weight: 300;
    font-style: italic;
    text-align: justify;
    text-decoration: none;
    margin-bottom: 0;
  }

  .sty-bgspot .inline {
    display: inline-block;
    vertical-align: top;
  }

  .sty-bgspot p {
    font-family: 'Segoe UI', Tahoma, Verdana, sans-serif;
    font-size: 22px;
    font-weight: 300;
    font-style: italic;
    text-align: justify;
    margin-bottom: 0;
  }

  .sty-bgspot .signature p {
    font-family: 'Tangerine', serif;
    font-size: 2rem;
    font-weight: 400;
    font-style: italic;
    text-align: justify;
  }

/* ---- Table Styling Attributes ---- */
.sty-table {
  font-family: 'Segoe UI', Tahoma, Verdana, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

.sty-table td, .sty-table th { 
  border: 1px solid #ddd;
  padding: 8px;
}

.sty-table tr:nth-child(even){
  background-color: #F1FDED;
}

.sty-table tr:hover { 
  background-color: #ddd;
}

.sty-table th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #04AA6D;
  color: #FFF;
}

/* ---- Form Styling Attributes ---- */
.sty-form {
  margin: 1px;
	font-family:arial,tahoma,sans-serif;
	font-size:12px;
	font-weight:normal;
	direction:ltr;
  background:white;
  
}

.sty-form form {
  margin: 10px auto 0 auto;
	padding: 5px;
	width: auto;
	height: auto;
	overflow: hidden;
	background: white;
	border-radius: 10px;
}

.sty-form .spacer div { 
  margin: 12px;
}

.sty-form img { 
  float: left;
    margin-top: 15px;
    margin-right: 10px;
    width: 300px;
    padding: 0;
    vertical-align: top;
}

.sty-form label,
.sty-form input {
  font-size: 14px;
  padding: 15px;
  margin: 30px;
  color: lightslategray;
  cursor: pointer; 
  margin: 10px auto 0 auto;
  padding: 20px; 
 
  height: auto; 
  background: white;
  border-radius: 10px;
  text-align: left;
}

.sty-form input { 
  margin: 10px;
  padding: 10px;
  width: 100%;
  border: 1px solid #bbb;
  border-radius: 20px;
  box-sizing: border-box;
  transition: 0.2s ease all;
}

.sty-form textarea {
  margin: 10px;
  padding: 10px;
  width: 100%;
  border: 1px solid #bbb;
  border-radius: 10px;
  display: inline-block;
  box-sizing: border-box;
  transition: 0.2s ease all;
}

.sty-form input[type=text].focus { 
  border-color: cornflowerblue;
}

.sty-form input[type=submit] {
  block-size: auto;
  float: right;
  padding: 20px 50px;
  width: auto;
  background: #04AA6D;
  color: white;
  cursor: pointer;
  transition:0.2s ease all;
  
}


