/* ---- Body Attributes ---- */

.sty-container { 
    position: relative;
    margin: auto; 
    width: 50%;
    padding: 10px;
}

/* ---- Body Titles Attributes ---- */

.title { 
    position: relative;
    padding: 0;
    margin: 0;
    font-family: "Raleway", sans-serif;
    font-weight: 300;
    font-size: 40px;
    color: #006600;
}

h1.title { 
    text-align: center;
    text-transform: uppercase;
    padding-bottom: 5px;
}

h1.title span { 
    display: block;
    font-size: 1.0rem;
    line-height: 1.2;
}

h1.title :before  {
    width: 60px;
    height: 5px;
    display: block;
    content: "";
    position: absolute;
    bottom: -13px;
    left: 50%;
    margin-left: -30px;
    background-color: #be163a;
  }
  h1.title:after  {
    width: 240px;
    height: 1px;
    display: block;
    content: "";
    position: relative;
    margin-top: 10px;
    left: 50%;
    margin-left: -120px;
    background-color: #be163a;
  }

  h2.title  { 
    display: block;
    font-size: 2rem;
    line-height: 1.2;
    font-style: italic;
    font-weight: 600;
  }

  h3.title  { 
    display: block;
    font-family: 'Tangerine', serif;
    font-size: 3rem;
    line-height: 1.0;
    font-style: normal;
    font-weight: 400;
    margin: 5px;
  }

  h4.title  { 
    display: block; 
    font-family: 'Segoe UI', Tahoma, Verdana, sans-serif;
    font-size: 1rem;
    margin:0; 
    padding: 0;
  }

  /* ---- Menu Sytling Attributes ---*/

  .sty-menu {
    display: block;
    margin-bottom: 30px;

  }

  .sty-menu a { 
    font-family: 'Segoe UI', Tahoma, Verdana, sans-serif;
    font-size: 1rem;
    font-weight: 600;
    color: black;
    line-height: 1.0;
    text-decoration: none;
    margin: 10px;
    padding: 2px;
    text-align: center;

  }

  .sty-menu a:hover{
    font-size: 1.05rem;
    font-weight: 700;
    color: #be163a;
  }

  /* ---- Index Page Styling Attributes ---- */

  .sty-home {
    display: inline-block; 
    width: 100%; 
    margin: 10px;
  }
  
  .sty-home img { 
    float: left;
    margin-right: 15px;
    vertical-align: top;
  }

  .sty-home p {
    font-family: 'Source Sans Pro' Verdana, Tahoma, sans-serif;
    font-size: 1.4rem;
    font-weight: 300;
    font-style: italic;
    text-align: justify;
  }

  .sty-home .signature p { 
    font-family: 'Tangerine', serif;
    font-size: 2rem;
    font-weight: 400;
    font-style: italic;
    text-align: justify;
  }

  /* ---- Blog Page Styling Attributes ---- */
  .sty-bgspot {
    display: inline-block; 
    width: 100%; 
    margin: 10px;
  }
  
  .sty-bgspot img { 
    float: left;
    margin-top: 15px;
    margin-right: 20px;
    padding: 0;
    vertical-align: top;
  }

  .sty-bgspot .right img { 
    float: right;
    position: relative;
    margin-top: 15px;
    height: 600px;
    width: 235px;
    left: -13%;
    padding: 0;
    vertical-align: bottom;
  }

  .sty-bgspot .small-text a { 
    font-family: 'Segoe UI', Tahoma, Verdana, sans-serif;
    font-size: 1rem;
    font-weight: 300;
    font-style: italic;
    text-align: justify;
    text-decoration: none;
    margin-bottom: 0;
  }

  .sty-bgspot .large-text a { 
    font-family: 'Segoe UI', Tahoma, Verdana, sans-serif;
    font-size: 22px;
    font-weight: 300;
    font-style: italic;
    text-align: justify;
    text-decoration: none;
    margin-bottom: 0;
  }

  .sty-bgspot .inline {
    display: inline-block;
    vertical-align: top;
  }

  .sty-bgspot p {
    font-family: 'Source Sans Pro' Verdana, Tahoma, sans-serif;
    font-size: 1.4rem;
    font-weight: 300;
    font-style: italic;
    text-align: justify;
  }

  .sty-bgspot .signature p {
    font-family: 'Tangerine', serif;
    font-size: 2rem;
    font-weight: 400;
    font-style: italic;
    text-align: justify;
  }

/* ---- Table Styling Attributes ---- */
.sty-table {
  font-family: 'Segoe UI', Tahoma, Verdana, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

.sty-table td, .sty-table th { 
  border: 1px solid #ddd;
  padding: 8px;
}

.sty-table tr:nth-child(even){
  background-color: #F1FDED;
}

.sty-table tr:hover { 
  background-color: #ddd;
}

.sty-table th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #04AA6D;
  color: #FFF;
}

/* ---- Form Styling Attributes ---- */
.sty-form {
  margin: 1px;
	font-family:arial,tahoma,sans-serif;
	font-size:12px;
	font-weight:normal;
	direction:ltr;
  background:white;
  
}

.sty-form form {
  margin: 10px auto 0 auto;
	padding: 5px;
	width: auto;
	height: auto;
	overflow: hidden;
	background: white;
	border-radius: 10px;
}

.sty-form .spacer div { 
  margin: 12px;
}

.sty-form img { 
  float: left;
    margin-top: 15px;
    margin-right: 10px;
    width: 300px;
    padding: 0;
    vertical-align: top;
}

.sty-form label,
.sty-form input {
  font-size: 14px;
  padding: 15px;
  margin: 30px;
  color: lightslategray;
  cursor: pointer; 
  margin: 10px auto 0 auto;
  padding: 20px; 
 
  height: auto; 
  background: white;
  border-radius: 10px;
  text-align: left;
}

.sty-form input { 
  margin: 10px;
  padding: 10px;
  width: 100%;
  border: 1px solid #bbb;
  border-radius: 20px;
  box-sizing: border-box;
  transition: 0.2s ease all;
}

.sty-form textarea {
  margin: 10px;
  padding: 10px;
  width: 100%;
  border: 1px solid #bbb;
  border-radius: 10px;
  display: inline-block;
  box-sizing: border-box;
  transition: 0.2s ease all;
}

.sty-form input[type=text].focus { 
  border-color: cornflowerblue;
}

.sty-form input[type=submit] {
  font-size: 18px;
  block-size: auto;
  float: right;
  padding: 10px 25px;
  width: auto;
  background: #04AA6D;
  color: white;
  cursor: pointer;
  transition:0.2s ease all; 
}

.sty-form input[type=submit]:hover { 

  background: white;
  color: #04AA6D;
}

/* *** Recipes Article Format */

.sty-recipe { 
  display: inline-block;
}

article { 
  font-family:  'Segoe UI', Tahoma, Verdana, sans-serif;
  font-size: 16px; 
  font-weight: 400;
  font-style: italic; 
  margin: 10;
  background-color: #006600;
  width: 300px
}

h1.sty-recipe { 
  font-size: 18px;
  color: white; 
  padding: 5px; 
  margin:5px; 
}

article img { 
  width: 150px; 
  padding: 5px;
  margin: 5px;
  vertical-align: center;
}

article p { 
  float: right; 
  color: white; 
  width: 120px; 
  font-size: 16px;
  margin-right: 10px;
  text-align: left;
}

article footer {
  margin: 0px;
  padding: 5px;
}

article .sty-window { 
  display: block;
  width: 160px;
}

article .sty-button {
  display: block;
  margin-bottom: 5px;
  margin-right: 0px;
  margin-left: auto;
  background-color: #00AA00;
  height: 25px;
  width: 100px;
  text-align: center;
  text-decoration: none;
  color: #FFFFFF;
  border-radius: 10px;
}
  
/* Recipe Pages Styling    */
.sty-body { 
  font-family:  'Segoe UI', Tahoma, Verdana, sans-serif;
  font-size: 16px; 
  font-weight: 400;
  font-style: italic; 
  margin: 10;
}

.sty-justify-text { 
  text-align: justify;
}

.sty-header { 
  width: 100%;
  height: auto; 
}

.sty-float-right img{
  display: block;
  float: right; 
  width: 50%;
}

.sty-img-block-header { 
  width: 50%;
  height: auto; 

}

.sty-block-header { 
  width: 50%;
  height: auto;

}

hr.half {
  width: 45%;
}
