.container { 
    position: relative;
    margin: auto; 
    width: 50%;
    padding: 10px;
}

h1 { 
    position: relative;
    padding: 0;
    margin: 0;
    font-family: "Raleway", sans-serif;
    font-weight: 300;
    font-size: 40px;
    color: #006600;
}

.title h1 { 
    text-align: center;
    text-transform: uppercase;
    padding-bottom: 5px;
}

h1 span { 
    display: block;
    font-size: 1.0rem;
    line-height: 1.2;
}

.title h1:before {
    width: 56px;
    height: 5px;
    display: block;
    content: "";
    position: absolute;
    bottom: 3px;
    left: 50%;
    margin-left: -14px;
    background-color: #006400;
  }
  .title h1:after {
    width: 200px;
    height: 1px;
    display: block;
    content: "";
    position: relative;
    margin-top: 5px;
    left: 50%;
    margin-left: -100px;
    background-color: #006600;
  }

  .title h2 { 
    display: block;
    font-size: 2rem;
    line-height: 1.2;
    font-style: italic;
    font-weight: 600;
  }

  .title h3 { 
    display: block;
    font-family: 'Tangerine', serif;
    font-size: 3rem;
    line-height: 1.0;
    font-style: normal;
    font-weight: 400;
    margin: 5px;
  }

  .sty-menu {
    display: block;
    margin-bottom: 30px;

  }

  .sty-menu a { 
    font-family: 'Segoe UI', Tahoma, Verdana, sans-serif;
    font-size: 1rem;
    font-weight: 600;
    color: black;
    line-height: 1.0;
    text-decoration: none;
    margin: 10px;
    padding: 2px;
    text-align: center;

  }

  .sty-menu a:hover{
    font-size: 1.05rem;
    font-weight: 700;
    color: #006600;
  }

  .sty-home {
    display: inline-block; 
    width: 100%; 
    margin: 10px;
  }
  
  .sty-home img { 
    float: left;
    margin-right: 15px;
    vertical-align: top;
  }

  .sty-home p {
    font-family: 'Source Sans Pro' Verdana, Tahoma, sans-serif;
    font-size: 22px;
    font-weight: 300;
    font-style: italic;
    text-align: justify;
  }

  .sty-home .signature p { 
    font-family: 'Tangerine', serif;
    font-size: 2rem;
    font-weight: 400;
    font-style: italic;
    text-align: justify;
  }

  .sty-bgspot {
    display: inline-block; 
    width: 100%; 
    margin: 10px;
  }
  
  .sty-bgspot img { 
    float: left;
    margin-right: 20px;
    padding: 0;
    vertical-align: top;
  }

  .sty-bgspot .small-text a { 
    font-family: 'Segoe UI', Tahoma, Verdana, sans-serif;
    font-size: 16px;
    font-weight: 300;
    font-style: italic;
    text-align: justify;
    text-decoration: none;
    margin-bottom: 0;
  }

  .sty-bgspot .large-text a { 
    font-family: 'Segoe UI', Tahoma, Verdana, sans-serif;
    font-size: 22px;
    font-weight: 300;
    font-style: italic;
    text-align: justify;
    text-decoration: none;
    margin-bottom: 0;
  }

  .sty-bgspot p {
    font-family: 'Segoe UI', Tahoma, Verdana, sans-serif;
    font-size: 22px;
    font-weight: 300;
    font-style: italic;
    text-align: justify;
    margin-bottom: 0;
  }

  .sty-bgspot .signature p {
    font-family: 'Tangerine', serif;
    font-size: 2rem;
    font-weight: 400;
    font-style: italic;
    text-align: justify;
  }

